
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    
}

.header {
    width: 1147px;
    
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(rgb(236, 57, 7),rgb(218, 149, 31));
}
.header .logo {
    width: 80px;
    height: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header .search-bar {
    flex: 1;
    margin: 0 20px;
    
}
.header input[type="text"] {
    width: 100%;
    padding: 10px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
.header .user-info {
    display: flex;
    align-items: center;
    
}
.header .user-info .cart {
    margin-left: 20px;
    
}
.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: white;
}
.sidebar {
    width: 20%;
    background: #e0e0e0;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;

}
nav ul li{
    margin: 25px 0;
    border: 1px solid black;
    text-decoration-style: none;
    color: #333;
    font-weight: bold;
}
nav ul li a{
    text-decoration: double;
}
nav ul li a:hover{
    color: chartreuse;
}
nav ul li:hover{
    background-color: antiquewhite;

}

.content {
    flex: 1;
    padding: 40px;
    border: 1px solid black;
}
.content h2{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 30px;
   border: 1px solid black;

   
}
label {
    margin-top: 10px;
    font-weight: bold;
}
input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-top: 15px;
    padding: 10px;
    background: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #4500b5;
}
.footer {
    width: 1147px;
    
    padding: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#ccc;
}
